* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  background-image: url("../img/fondos/fondo-medieval-bueno.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

#navbar-container {
  justify-content: space-between;
}

.carouselExampleDark {
  height: 300px;
  width: 500px;
  margin: 0 auto;
}

.inVisible {
  display: none;
}

.visible {
  display: block;
}

#spaceToArray {
  width: 500px;
}

.principal {
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.tituloPrincipal {
  font-size: 6rem;
  color: brown;
  margin-bottom: 0;
  -webkit-text-stroke: 2px black;
  font-weight: bold;
}

.imgModal {
  height: 60%;
  width: 60%;
}
