* {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
body {
  background-image: url("/img/fondos/fondo-medieval-bueno.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

#navbar-container {
  justify-content: space-between;
}

#carouselExampleIndicators {
  width: 500px;
  height: 350px;
  margin: 0 auto;
}
.carousel-inner .item img {
  object-fit: scale-down;
  height: 50vh;
  width: 100%;
}

.inVisible {
  display: none;
}

.visible {
  display: block;
}
